<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/approbation.css') }}">
   
</head>
<body>
    

    <div class="approval-forms-wrapper">
        <div class="filter-container">
            <label for="filter-id">Recherche par ID:</label>
            <input type="text" id="filter-id" placeholder="Saisir l'ID pour filtrer" onkeyup="filterById()">
        </div>


        {% for row in rows %}
        <div class="approval-form-container orange-frame" id="form-{{ row.id }}">
            <div class="approval-form-header" onclick="toggleForm('{{ row.id }}')">
                ID: {{ row.id }}  <br> Région: {{ row.nom_region }} <br>{{ row.nom_indicateur }}
                <br>Année: {{ row.Annee }}
            </div>
            <div class="approval-form-content">
                <form action="/approve_or_reject" method="POST">
                    <input type="hidden" name="id" value="{{ row.id }}">

                    <label for="nom_region_{{ row.id }}">Nom de la région:</label>
                    <input type="text" id="nom_region_{{ row.id }}" name="nom_region" value="{{ row.nom_region }}" readonly>

                    <label for="nom_departement_{{ row.id }}">Nom du département:</label>
                    <input type="text" id="nom_departement_{{ row.id }}" name="nom_departement" value="{{ row.nom_departement }}" readonly>

                    <label for="nom_sousprefecture_{{ row.id }}">Nom de la sous-préfecture:</label>
                    <input type="text" id="nom_sousprefecture_{{ row.id }}" name="nom_sousprefecture" value="{{ row.nom_sousprefecture }}" readonly>

                    <label for="nom_indicateur_{{ row.id }}">Nom de l'indicateur:</label>
                    <input type="text" id="nom_indicateur_{{ row.id }}" name="nom_indicateur" value="{{ row.nom_indicateur }}" readonly>

                    <label for="nom_valeur_{{ row.id }}">Valeur indicateur:</label>
                    <input type="text" id="nom_valeur_{{ row.id }}" name="nom_indicateur" value="{{ row.Valeur }}" readonly>

                    <!-- Ajoutez les autres champs ici -->

                    <label for="commentaires_{{ row.id }}">Commentaires :</label>
                    <textarea id="commentaires_{{ row.id }}" name="commentaires"></textarea>

                    <div class="btn-group">
                        <button type="submit" class="approval-btn-approve" name="action" value="Approuver">Approuver</button>
                        <button type="submit" class="approval-btn-reject" name="action" value="Rejeter">Rejeter</button>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        function toggleForm(id) {
            const formContainer = document.getElementById('form-' + id);
            formContainer.classList.toggle('active');
        }

        function filterById() {
            const filterValue = document.getElementById('filter-id').value.toLowerCase();
            const forms = document.querySelectorAll('.approval-form-container');

            forms.forEach(form => {
                const id = form.id.split('-')[1]; // Extrait l'ID du div
                if (id.includes(filterValue) || filterValue === '') {
                    form.style.display = 'block'; // Affiche le formulaire
                } else {
                    form.style.display = 'none'; // Masque le formulaire
                }
            });
        }
    </script>

</body>
</html>
