<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de collecte</title>
</head>
<body>
    <form method="post">
        <div>
            <label>Année de collecte:</label>
            <input type="number" name="annee" min="2000" max="2100" required>
        </div>
        <div>
            <label>Le code de l'entité géographique:</label>
            <input type="number" name="code_entite" min="0" required>
        </div>

        {% if entity_type and entity_name %}
        <p>{{ entity_type }} : {{ entity_name }}</p>
        {% endif %}

        <div>
            <label>Le code indicateur:</label>
            <input type="number" name="ind" min="0" required>
        </div>

        {% if level_of_disaggregation == 'Sexe' %}
            {% for sexe_id, sexe_name in ag.get_sexes() %}
                <div>
                    <label>{{ sexe_name }}:</label>
                    <input type="number" name="value_{{ sexe_id }}" min="0" required>
                </div>
            {% endfor %}
        {% endif %}

        <button type="submit">Enregistrer</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
