<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div id="form-wrapper">
    <!-- Formulaire de recherche -->
   <form action="/" method="post" class="form-container2">
    <label for="id_indicateur">Entrez le code indicateur :</label>
    <input type="text" id="id_indicateur" name="id_indicateur" required>

    <label for="id_code_entite">Code entité géographique :</label>
    <input type="text" id="id_code_entite" name="id_code_entite" required>

    <label for="id_niveau_desagregation">Code du niveau de désagrégation :</label>
    <input type="text" id="id_niveau_desagregation" name="id_niveau_desagregation" required>

    <button type="submit">Recherche</button>

</form>


   {% if nom_ind %}
<div id="duplicate-wrapper" data-nom-ind="{{ nom_ind }}" data-nom-entite="{{ nom_entite }}">
    <form action="/submit" method="post" class="form-container">
        <div class="orange-frame">
            <h2>Indicateur: {{ nom_ind }}</h2>
            <h3>{{ id_entite }} : {{ nom_entite }}</h3>

            <label for="anne">Saisissez l'année :</label>
            <input type="text" id="anne" name="anne" required>

            <input type="text" id="id_indicateur2" name="id_indicateur2" value="{{ id_indicateur }}" hidden>
            <input type="text" id="id_code_entite2" name="id_code_entite2" value="{{ id_code_entite }}" hidden>

            <br>
        </div>
        <br>

     {% if nom_groupe_age %}
<ul class="align-list">
    {% for id, nom in nom_groupe_age %}
    <li>
        <em>{{ nom }} ans</em>
        <input type="text" name="id_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_primaire %}
<ul class="align-list">
    {% for id, nom in nom_primaire %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idprimaire_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_sexe %}
<ul class="align-list">
    {% for id, nom in nom_sexe %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="sexe_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_cycle %}
<ul class="align-list">
    {% for id, nom in nom_cycle %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idcycle_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_prescolaire %}
<ul class="align-list">
    {% for id, nom in nom_prescolaire %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idprescolaire_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_secondaire_1er %}
<ul class="align-list">
    {% for id, nom in nom_secondaire_1er %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idsecondaire1_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_secondaire_2nd %}
<ul class="align-list">
    {% for id, nom in nom_secondaire_2nd %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idsecondaire2_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_technique %}
<ul class="align-list">
    {% for id, nom in nom_technique %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtechnique_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_superieur %}
<ul class="align-list">
    {% for id, nom in nom_superieur %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idsuperieur_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_professionnel %}
<ul class="align-list">
    {% for id, nom in nom_professionnel %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idprofessionnel_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_examen_scolaire %}
<ul class="align-list">
    {% for id, nom in nom_type_examen_scolaire %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypeexamenscolaire_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

        {% if nom_infrastructure %}
<ul class="align-list">
    {% for id, nom in nom_infrastructure %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idinfrastructure_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_lieu_accouchement %}
<ul class="align-list">
    {% for id, nom in nom_lieu_accouchement %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idlieuaccouchement_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_etat_vaccinal %}
<ul class="align-list">
    {% for id, nom in nom_etat_vaccinal %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idetatvaccinal_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_vaccination %}
<ul class="align-list">
    {% for id, nom in nom_type_vaccination %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypevaccination_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_pathologie %}
<ul class="align-list">
    {% for id, nom in nom_pathologie %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idpathologie_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_tranche_age %}
<ul class="align-list">
    {% for id, nom in nom_tranche_age %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtrancheage_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_maladie_pev %}
<ul class="align-list">
    {% for id, nom in nom_maladie_pev %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idmaladiepev_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_maladie_infectieuse %}
<ul class="align-list">
    {% for id, nom in nom_maladie_infectieuse %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idmaladieinfectieuse_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_infection_respiratoire %}
<ul class="align-list">
    {% for id, nom in nom_infection_respiratoire %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idinfectionrespiratoire_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_maladies_ist %}
<ul class="align-list">
    {% for id, nom in nom_maladies_ist %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idmaladiesist_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_maladies %}
<ul class="align-list">
    {% for id, nom in nom_type_maladies %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypemaladies_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_activites_iec %}
<ul class="align-list">
    {% for id, nom in nom_activites_iec %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idactivitesiec_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_services_medicaux %}
<ul class="align-list">
    {% for id, nom in nom_services_medicaux %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idservicesmedicaux_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_infrastructure_organisation %}
<ul class="align-list">
    {% for id, nom in nom_infrastructure_organisation %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idinfrastructureorganisation_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_discipline_sportive %}
<ul class="align-list">
    {% for id, nom in nom_discipline_sportive %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="iddisciplinesportive_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_infrastructure_culturel %}
<ul class="align-list">
    {% for id, nom in nom_type_infrastructure_culturel %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypeinfrastructureculturel_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_patrimoine_culturel %}
<ul class="align-list">
    {% for id, nom in nom_type_patrimoine_culturel %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypepatrimoineculturel_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_actions_culturelles %}
<ul class="align-list">
    {% for id, nom in nom_type_actions_culturelles %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypeactionsculturelles_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_operateur_oeuvre_esprit %}
<ul class="align-list">
    {% for id, nom in nom_type_operateur_oeuvre_esprit %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypeoperateuroeuvreesprit_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_de_groupe_culturel %}
<ul class="align-list">
    {% for id, nom in nom_type_de_groupe_culturel %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypedegroupeculturel_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_de_manifestation_culturelle %}
<ul class="align-list">
    {% for id, nom in nom_type_de_manifestation_culturelle %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypedemanifestationculturelle_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_trimestre %}
<ul class="align-list">
    {% for id, nom in nom_trimestre %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtrimestre_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_etat_des_oeuvres %}
<ul class="align-list">
    {% for id, nom in nom_etat_des_oeuvres %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idetatdesoeuvres_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_abonnement %}
<ul class="align-list">
    {% for id, nom in nom_type_abonnement %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypeabonnement_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

        {% if nom_type_de_suivi %}
<ul class="align-list">
    {% for id, nom in nom_type_de_suivi %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypedesuivi_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_de_vulnerabilite %}
<ul class="align-list">
    {% for id, nom in nom_type_de_vulnerabilite %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypedevulnerabilite_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_type_de_prise_charge %}
<ul class="align-list">
    {% for id, nom in nom_type_de_prise_charge %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idtypedeprisecharge_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if nom_niveau %}
<ul class="align-list">
    {% for id, nom in nom_niveau %}
    <li>
        <em>{{ nom }}</em>
        <input type="text" name="idniveau_{{ id }}" placeholder="Entrez une valeur">
    </li>
    {% endfor %}
</ul>
{% endif %}






        <button type="submit">Envoyer</button>
    </form>
</div>
{% endif %}

    <!-- Affichage des messages flash -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}


</div>





<!-- JavaScript pour ajouter un formulaire -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Vérifie la validité des données
        var duplicateWrapper = document.getElementById('duplicate-wrapper');
        var nomInd = duplicateWrapper ? duplicateWrapper.getAttribute('data-nom-ind') : null;
        var nomEntite = duplicateWrapper ? duplicateWrapper.getAttribute('data-nom-entite') : null;

        // Si l'indicateur ou l'entité géographique n'est pas valide, on cache le formulaire
        if (!nomInd || !nomEntite || nomInd === "" || nomEntite === "") {
            if (duplicateWrapper) {
                duplicateWrapper.style.display = 'none';
            }
        }
    });

    document.getElementById('add-button').addEventListener('click', function() {
        var duplicateWrapper = document.getElementById('duplicate-wrapper').cloneNode(true);
        duplicateWrapper.id = ''; // Retire l'ID pour éviter des duplications multiples
        document.getElementById('form-wrapper').appendChild(duplicateWrapper);
    });

    document.getElementById('preview-button').addEventListener('click', function() {
            var form = document.getElementById('data-form');
            var tableBody = document.getElementById('preview-table').querySelector('tbody');
            tableBody.innerHTML = ''; // Effacer le tableau d'aperçu

            var formData = new FormData(form);
            formData.forEach(function(value, key) {
                var row = document.createElement('tr');
                var cellKey = document.createElement('td');
                var cellValue = document.createElement('td');
                cellKey.textContent = key;
                cellValue.textContent = value;
                row.appendChild(cellKey);
                row.appendChild(cellValue);
                tableBody.appendChild(row);
            });

            // Afficher la section d'aperçu
            document.getElementById('preview-section').style.display = 'block';
            form.style.display = 'none'; // Masquer le formulaire initial
        });

        // Confirmer l'envoi des données
        document.getElementById('confirm-button').addEventListener('click', function() {
            document.getElementById('data-form').submit();
        });

        // Modifier les données saisies
        document.getElementById('edit-button').addEventListener('click', function() {
            document.getElementById('preview-section').style.display = 'none';
            document.getElementById('data-form').style.display = 'block';
        });
    });
</script>
</body>
</html>