

<!-- C'est l'ensemble des elements de bloc bleu c'est à dire les croisements -->

<ul class="align-list2">
    {% if cod_indicateur_comparaison=='1001' %}
<!-- Liste déroulante pour Sexe -->
<li>
<label for="nom_sexe">Sexe :</label>
<select id="nom_sexe" name="nom_sexe">
    <option value="">Sélectionnez</option>
    {% for idsex, nom in nom_sexe_A %}
    <option value="{{ idsex }}" data-nom="{{nom}}">{{ nom }}</option>
    {% endfor %}
</select>
</li>
<!-- Liste déroulante pour Groupe d'âge -->
<li>
    <label for="nom_groupe_age">Groupe d'âge :</label>
    <select id="nom_groupe_age" name="nom_groupe_age">
        <option value="">Sélectionnez</option>
        {% for idage, nom in nom_groupe_age_A %}
        <option value="{{ idage }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

{% endif %}
    <!-- Liste déroulante pour Cycle -->
    {% if cod_indicateur_comparaison=='1009' %}
    <li>
    <label for="nom_cycle">Cycle :</label>
    <select id="nom_cycle" name="nom_cycle">
        <option value="">Sélectionnez</option>
        {% for idcycle, nom in nom_cycle_A %}
        <option value="{{ idcycle }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Prescolaire -->
    <li>
    <label for="nom_prescolaire">Prescolaire :</label>
    <select id="nom_prescolaire" name="nom_prescolaire">
        <option value="">Sélectionnez</option>
        {% for idpres, nom in nom_prescolaire_A %}
        <option value="{{ idpres }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Primaire -->
    <li>
    <label for="nom_primaire">Primaire :</label>
    <select id="nom_primaire" name="nom_primaire">
        <option value="">Sélectionnez</option>
        {% for idpri, nom in nom_primaire_A %}
        <option value="{{ idpri }}" data-nom="{{nom}}"> {{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Secondaire 1er Cycle -->
    <li>
    <label for="nom_secondaire_1er">Secondaire 1er Cycle :</label>
    <select id="nom_secondaire_1er" name="nom_secondaire_1er">
        <option value="">Sélectionnez</option>
        {% for idsec1, nom in nom_secondaire_1er_A %}
        <option value="{{ idsec1 }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Secondaire 2nd Cycle -->
    <li>
    <label for="nom_secondaire_2nd">Secondaire 2nd Cycle :</label>
    <select id="nom_secondaire_2nd" name="nom_secondaire_2nd">
        <option value="">Sélectionnez</option>
        {% for idsec2, nom in nom_secondaire_2nd_A %}
        <option value="{{ idsec2 }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Technique -->
    <li>
    <label for="nom_technique">Technique :</label>
    <select id="nom_technique" name="nom_technique">
        <option value="">Sélectionnez</option>
        {% for idtech, nom in nom_technique_A %}
        <option value="{{ idtech }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Supérieur -->
    <li>
    <label for="nom_superieur">Supérieur :</label>
    <select id="nom_superieur" name="nom_superieur">
        <option value="">Sélectionnez</option>
        {% for idsup, nom in nom_superieur_A %}
        <option value="{{ idsup }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Professionnel -->
    <li>
    <label for="nom_professionnel">Professionnel :</label>
    <select id="nom_professionnel" name="nom_professionnel">
        <option value="">Sélectionnez</option>
        {% for idprof, nom in nom_professionnel_A %}
        <option value="{{ idprof }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type d'examen scolaire -->
    <li>
    <label for="nom_type_examen_scolaire">Type d'examen scolaire :</label>
    <select id="nom_type_examen_scolaire" name="nom_type_examen_scolaire">
        <option value="">Sélectionnez</option>
        {% for idexam, nom in nom_type_examen_scolaire_A %}
        <option value="{{ idexam }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Infrastructure sanitaire -->
    <li>
    <label for="nom_infrastructure_sanitaire">Infrastructure sanitaire :</label>
    <select id="nom_infrastructure_sanitaire" name="nom_infrastructure_sanitaire">
        <option value="">Sélectionnez</option>
        {% for idinfra, nom in nom_infrastructure_sanitaire_A %}
        <option value="{{ idinfra }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Lieu d'accouchement -->
    <li>
    <label for="nom_lieu_accouchement">Lieu d'accouchement :</label>
    <select id="nom_lieu_accouchement" name="nom_lieu_accouchement">
        <option value="">Sélectionnez</option>
        {% for idlieu, nom in nom_lieu_accouchement_A %}
        <option value="{{ idlieu }}" data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour État vaccinal -->
    <li>
    <label for="nom_etat_vaccinal">État vaccinal :</label>
    <select id="nom_etat_vaccinal" name="nom_etat_vaccinal">
        <option value="">Sélectionnez</option>
        {% for idetat, nom in nom_etat_vaccinal_A %}
        <option value="{{ idetat }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de vaccination -->
    <li>
    <label for="nom_type_vaccination">Type de vaccination :</label>
    <select id="nom_type_vaccination" name="nom_type_vaccination">
        <option value="">Sélectionnez</option>
        {% for idvacc, nom in nom_type_vaccination_A %}
        <option value="{{ idvacc }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Pathologie -->
    <li>
    <label for="nom_pathologie">Pathologie :</label>
    <select id="nom_pathologie" name="nom_pathologie">
        <option value="">Sélectionnez</option>
        {% for idpath, nom in nom_pathologie_A %}
        <option value="{{ idpath }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Tranche d'âge -->
    <li>
    <label for="nom_tranche_age">Tranche d'âge :</label>
    <select id="nom_tranche_age" name="nom_tranche_age">
        <option value="">Sélectionnez</option>
        {% for idtranche, nom in nom_tranche_age_A %}
        <option value="{{ idtranche }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Maladies du PEV -->
    <li>
    <label for="nom_maladie_pev">Maladies du PEV :</label>
    <select id="nom_maladie_pev" name="nom_maladie_pev">
        <option value="">Sélectionnez</option>
        {% for idpev, nom in nom_maladie_pev_A %}
        <option value="{{ idpev }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Maladies infectieuses -->
    <li>
    <label for="nom_maladie_infectieuse">Maladies infectieuses :</label>
    <select id="nom_maladie_infectieuse" name="nom_maladie_infectieuse">
        <option value="">Sélectionnez</option>
        {% for idinfect, nom in nom_maladie_infectieuse_A %}
        <option value="{{ idinfect }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Infection respiratoire -->
    <li>
    <label for="nom_infection_respiratoire">Infection respiratoire :</label>
    <select id="nom_infection_respiratoire" name="nom_infection_respiratoire">
        <option value="">Sélectionnez</option>
        {% for idinfresp, nom in nom_infection_respiratoire_A %}
        <option value="{{ idinfresp }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Maladies IST -->
    <li>
    <label for="nom_maladies_ist">Maladies IST :</label>
    <select id="nom_maladies_ist" name="nom_maladies_ist">
        <option value="">Sélectionnez</option>
        {% for idist, nom in nom_maladies_ist_A %}
        <option value="{{ idist }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de maladies -->
    <li>
    <label for="nom_type_maladies">Type de maladies :</label>
    <select id="nom_type_maladies" name="nom_type_maladies">
        <option value="">Sélectionnez</option>
        {% for idmaladie, nom in nom_type_maladies_A %}
        <option value="{{ idmaladie }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Activités IEC -->
    <li>
    <label for="nom_activites_iec">Activités IEC :</label>
    <select id="nom_activites_iec" name="nom_activites_iec">
        <option value="">Sélectionnez</option>
        {% for idiec, nom in nom_activites_iec_A %}
        <option value="{{ idiec }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Services médicaux -->
    <li>
    <label for="nom_services_medicaux">Services médicaux :</label>
    <select id="nom_services_medicaux" name="nom_services_medicaux">
        <option value="">Sélectionnez</option>
        {% for idservice, nom in nom_services_medicaux_A %}
        <option value="{{ idservice }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Infrastructure/Organisation sportive -->
    <li>
    <label for="nom_infrastructure_organisation">Infrastructure/Organisation sportive :</label>
    <select id="nom_infrastructure_organisation" name="nom_infrastructure_organisation">
        <option value="">Sélectionnez</option>
        {% for idinfraorg, nom in nom_infrastructure_organisation_A %}
        <option value="{{ idinfraorg }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Discipline sportive -->
    <li>
    <label for="nom_discipline_sportive">Discipline sportive :</label>
    <select id="nom_discipline_sportive" name="nom_discipline_sportive">
        <option value="">Sélectionnez</option>
        {% for iddisc, nom in nom_discipline_sportive_A %}
        <option value="{{ iddisc }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type d'infrastructure culturelle -->
    <li>
    <label for="nom_type_infrastructure_culturel">Type d'infrastructure culturelle :</label>
    <select id="nom_type_infrastructure_culturel" name="nom_type_infrastructure_culturel">
        <option value="">Sélectionnez</option>
        {% for idinfra, nom in nom_type_infrastructure_culturel_A %}
        <option value="{{ idinfra }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de patrimoine culturel -->
    <li>
    <label for="nom_type_patrimoine_culturel">Type de patrimoine culturel :</label>
    <select id="nom_type_patrimoine_culturel" name="nom_type_patrimoine_culturel">
        <option value="">Sélectionnez</option>
        {% for idpatrimoine, nom in nom_type_patrimoine_culturel_A %}
        <option value="{{ idpatrimoine }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type d'actions culturelles -->
    <li>
    <label for="nom_type_actions_culturelles">Type d'actions culturelles :</label>
    <select id="nom_type_actions_culturelles" name="nom_type_actions_culturelles">
        <option value="">Sélectionnez</option>
        {% for idactions, nom in nom_type_actions_culturelles_A %}
        <option value="{{ idactions }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type d'opérateur d'œuvres de l'esprit -->
    <li>
    <label for="nom_type_operateur_oeuvre_esprit">Type d'opérateur d'œuvres de l'esprit :</label>
    <select id="nom_type_operateur_oeuvre_esprit" name="nom_type_operateur_oeuvre_esprit">
        <option value="">Sélectionnez</option>
        {% for idoperateur, nom in nom_type_operateur_oeuvre_esprit_A %}
        <option value="{{ idoperateur }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de groupe culturel -->
    <li>
    <label for="nom_type_de_groupe_culturel">Type de groupe culturel :</label>
    <select id="nom_type_de_groupe_culturel" name="nom_type_de_groupe_culturel">
        <option value="">Sélectionnez</option>
        {% for idgroupe, nom in nom_type_de_groupe_culturel_A %}
        <option value="{{ idgroupe }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de manifestation culturelle -->
    <li>
    <label for="nom_type_de_manifestation_culturelle">Type de manifestation culturelle :</label>
    <select id="nom_type_de_manifestation_culturelle" name="nom_type_de_manifestation_culturelle">
        <option value="">Sélectionnez</option>
        {% for idmanifestation, nom in nom_type_de_manifestation_culturelle_A %}
        <option value="{{ idmanifestation }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Trimestre -->
    <li>
    <label for="nom_trimestre">Trimestre :</label>
    <select id="nom_trimestre" name="nom_trimestre">
        <option value="">Sélectionnez</option>
        {% for idtrimestre, nom in nom_trimestre_A %}
        <option value="{{ idtrimestre }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour État des œuvres -->
    <li>
    <label for="nom_etat_des_oeuvres">État des œuvres :</label>
    <select id="nom_etat_des_oeuvres" name="nom_etat_des_oeuvres">
        <option value="">Sélectionnez</option>
        {% for idetat, nom in nom_etat_des_oeuvres_A %}
        <option value="{{ idetat }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type d'abonnement -->
    <li>
    <label for="nom_type_abonnement">Type d'abonnement :</label>
    <select id="nom_type_abonnement" name="nom_type_abonnement">
        <option value="">Sélectionnez</option>
        {% for idabonnement, nom in nom_type_abonnement_A %}
        <option value="{{ idabonnement }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de suivi -->
    <li>
    <label for="nom_type_de_suivi">Type de suivi :</label>
    <select id="nom_type_de_suivi" name="nom_type_de_suivi">
        <option value="">Sélectionnez</option>
        {% for idsuivi, nom in nom_type_de_suivi_A %}
        <option value="{{ idsuivi }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de vulnérabilité -->
    <li>
    <label for="nom_type_de_vulnerabilite">Type de vulnérabilité :</label>
    <select id="nom_type_de_vulnerabilite" name="nom_type_de_vulnerabilite">
        <option value="">Sélectionnez</option>
        {% for idvulnerabilite, nom in nom_type_de_vulnerabilite_A %}
        <option value="{{ idvulnerabilite }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Type de prise en charge -->
    <li>
    <label for="nom_type_de_prise_charge">Type de prise en charge :</label>
    <select id="nom_type_de_prise_charge" name="nom_type_de_prise_charge">
        <option value="">Sélectionnez</option>
        {% for idprise_charge, nom in nom_type_de_prise_charge_A %}
        <option value="{{ idprise_charge }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>

    <!-- Liste déroulante pour Niveau -->
    <li>
    <label for="nom_niveau">Niveau :</label>
    <select id="nom_niveau" name="nom_niveau">
        <option value="">Sélectionnez</option>
        {% for idniveau, nom in nom_niveau_A %}
        <option value="{{ idniveau }}"  data-nom="{{nom}}">{{ nom }}</option>
        {% endfor %}
    </select>
</li>
{% endif %}
</ul>
