<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importer un fichier Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
</head>
<body>
    <div class="container">
        <h1>Importer un fichier Excel</h1>
        <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" class="shadow">
            <div class="form-group">
                <input type="file" name="file" accept=".xlsx" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Télécharger</button>
        </form>
         <!-- Affichage des messages flash -->
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
           <div class="mt-4">
             {% for category, message in messages %}
               <div class="alert alert-{{ category }}">{{ message }}</div>
             {% endfor %}
           </div>
         {% endif %}
       {% endwith %}
    </div>
</body>
</html>
